body {
    background: whitesmoke;
    color: #414535;
    font-family: serif;
    text-align: center;
    margin: 0;
}

#hdr {  /*use hash to refer to id, use dot for class name*/
    min-height: 220px;
    padding-top: 3em;
    padding-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
}
h2, h3, p {
    margin: 0;
    padding: 1em;
}

.button {
    text-decoration: none;
    color: #414535;
    padding: 1em 1.5em;
    border: 1px solid #C19875;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.button:hover {
    background: #C19875;
    
}

.hdr-bg {
    background: url('../images/pexels-kamran-sabir-127753.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    margin: 0;
}

footer {
    min-height: 35px;
    background: #618985;
    color: #414535;
    line-height: 35px;
}

.contact {
    /*background: #414535;*/
    min-height: 100px;
}

.prices {
    background: #f2e3bc;
    min-height: 100px;
}

section {
    padding: 1.5em;
}



.container {
    position: relative;
    width: 40%;
    display: inline-block;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  

  .text {
    background-color: #bfc0c0;
    color: white;
    font-size: 100px;
    padding: 16px 32px;
    font-family: 'Julius Sans One', sans-serif;
    border-radius: 15px;
  }
